<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vue Basics</title>
    <link rel="stylesheet" href="theme.css"/>
</head>
<body>

<div class="container" id="app">
    <div class="card">
        <h1 :style="{
        color: inputValue.length <5 ? 'darkred' : 'darkblue',
        fontSize: inputValue.length < 6 ? '2rem' : '1.5rem'
        }">{{ title }}</h1>
        <div class="form-control">
            <input
                    type="text"
                    :placeholder="myPlaceholder"
                    v-model="inputValue"
                    @keypress.enter="addNote"
            />
        </div>
        <button class="btn" v-on:click="addNote">ADD</button>
        <hr/>
        <ul class="list" v-if="notes.length !== 0">
            <li class="list-item" v-for="(item, idx) in notes">
                {{ toUpperCase(item) }}
                <button class="btn danger" v-on:click="deleteNote(idx, $event)">DELETE</button>
            </li>
            <hr>
            <li>
                <strong>Total numbers of Notes: {{ notes.length }}</strong> | Double: {{ doubleLengthComputed }}
            </li>
        </ul>
        <div v-else>You do not have a notes yet</div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>
